<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About us</title>
</head>
<body>

{%extends "home.html"%}
{%block content%}
<div>
    <p style="font-size: 5px; color:#dddddd">d</p>
    <p>Info about our APP<br><br><span id="first">This app is developed by Roshan Ojha. HTML, CSS and flask are used to develp this web app.
    This app is included in developer's portfolio projects.     
    </span></p>
</div> 
<style>
    div{
        line-height: 10px;
        margin-left: -20px;
        position: relative;
        left: 325px;
        width:800px;
        height: 150px;
        background-color: #dddddd;
        font-size: 30px;
        
    }
    #first{
        font-size: 15px;
        line-height: -5px;
        
    }
    p{
        margin-left: 40px;
    }

   
</style>
{%endblock%}

</body>
</html>